<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coreDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B9759C91D9A1CC4007743B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B9759E51D9A1CC4007743B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B9759F01D9A1CC4007743B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
